{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block body %}
    {% include 'default/nav.html.twig' %}

    <h1>Create new Order</h1>

    <form>
        <input type="text" value="{{ user }}" readonly>


        <button class="btn">{{ button_label|default('Create') }}</button>
    </form>


    <a href="{{ path('app_order_index') }}">back to list</a>
{% endblock %}
