{% extends 'base.html.twig' %}

{% block title %}New Intensity{% endblock %}

{% block body %}
    <h1>Create new Intensity</h1>

    {{ include('intensity/_form.html.twig') }}

    <a href="{{ path('app_intensity_index') }}">back to list</a>
{% endblock %}
